[package]
name    = "vr_type"
version = "0.1.0"
authors = ["Eishun Kondoh <shun3382@gmail.com>"]
edition = "2018"
links   = "vr_types"
build   = "build.rs"

[build-dependencies]
cc = "^1.0"

[lib]
crate-type = ["lib", "staticlib"]

[dependencies]
neli      = "0.4.3"
libc      = "0.2.66"
byteorder = "1.3.2"

[profile.test]
opt-level = 3
debug = true
